@import (reference) "_mixins";

.bubble {
    @button-width: 26px;
    @buttons-width: (@button-width * 2) + 6px;
    
    position: absolute;
    z-index: 5;
    right: 0;
    top: 30px;
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 60%;
    background: @blue-darkest;
    box-sizing: border-box;
    border-radius: 0 0 0 3px;
    border-left: 2px solid @blue-medium;
    overflow: auto;

    color: @white;

    transform: translateY(-100%);
    transition: transform 300ms ease;
    
    &.visible {
        transform: translateY(0);    
    }
    
    .email {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .buttons {
        position: absolute;
        width: @buttons-width;
        height: 100%;
        right: 0;
        top: 0;
        overflow: hidden;
        
        & button {
            display: inline-block;
            background: none;
            outline: none;
            border: none;
            height: 100%;
            width: @button-width;
            box-sizing: border-box;

            .pointer();
            
            svg {
                padding: 5px;
                border-radius: 50%;
                background: none;

                transition: background 300ms ease, fill 300ms ease;
            }

            &:hover svg {
                & {
                    .rgba(white, 0.2);
                    background: @result;
                }

                & {
                    .rgba(white, 1);
                    fill: @result;
                }
            }
            
            &.selected svg {
                .rgba(white, 1);
                fill: @result;
            }
        }
    }
    
    .email, .add-account {
        padding: 10px;
        .pointer();
    }

    .account-entry, .add-account {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding-right: @buttons-width + 4px;
        border-bottom: 2px solid @blue-medium;
    }

    .add-account {
        background: @blue-medium;
    }
}