@import (reference) "_mixins";

header {
    position: absolute;
    width: 100%;
    height: 30px;
    background: @blue-darkest; /* slightly darker, to look like a header */
    z-index: 10;
}

header > div {
    display: inline-block;
}

.drag-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 200px;

    -webkit-app-region: drag;
}

.controls-bar {
    position: absolute;
    top: 0;
    right: 0;
}

.url {
    display: flex;
    align-items: center;
    float: right;
    height: 100%;
    font-size: 0.9rem;
    margin-top: -1px;
    margin-right: 8px;
    color: white;
    opacity: 0.5;
}

/* title bar buttons */
.button {
    float: right;
    width: 40px;
    height: 30px;
    color: @white;
    font-size: 1rem;
    border: none;
    outline: none;
    transition: background 300ms ease;
    cursor: pointer;
    
    .rgba(@blue-medium, 0);
    background: @result;
}
.button:hover {
    .rgba(@blue-medium, 1);
    background: @result;
}
.close {
    .rgba(@red, 0);
    background: @result;
}
.close:hover {
    .rgba(@red, 1);
    background: @result;
}

/* title bar svg icons */
svg:not(:root) { 
    overflow: visible !important;
}
svg#defs {
    display: none;
}
svg.icon {
    width: 0.7rem;
    height: 0.7rem;
    display: block;
    margin: auto;
    
    .rgba(white, 0.5);
    fill: @result;

    transition: fill 300ms ease;
}
.button:hover svg.icon {
    .rgba(white, 1);
    fill: @result;
}
