.loader {
    @text-color: white;
    
    position: absolute;
    top: @frame-height;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    align-items: center;
    
    background: @blue-darkest;
    color: @text-color;
    
    &.hide {
        display: none;
    }
    
    .inner {
        position: relative;
        margin: auto;
        width: 36rem;
        max-width: 80%;
    }
    
    .loading {
        font-weight: bold;
        text-align: center;
    }
    
    img {
        display: block;
        margin: 0 auto;
        width: 128px;
        height: 128px;
    }
    
    .troubles {
        margin-top: 30px;
        max-height: 0;
        overflow: hidden;
        
        transition: max-height 400ms ease;
        
        &.show {
            max-height: 400px;
        }
        
        ul {
            padding: 0;
            margin-left: 25px;
        }
        
        li {
            margin: 10px 0;
            line-height: 1.3;
        }
        
        a, .link,
        a:hover, a:active, a:visited {
            color: @white;
            cursor: pointer;
            font-weight: bold;
            text-decoration: underline;
        }
    }
}
